# Ignore virtual environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Ignore results and temporary files
results/
*.wav
*.png
*.jpg

# Ignore Quarto outputs
report/*.html
report/*.pdf

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore logs
*.log
